# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=performance_comercial
DB_USER=root
DB_PASS=

# Configuración de la Aplicación
APP_NAME=Desempeño por Consultor
APP_ENV=production
APP_DEBUG=false
